th {
  padding: 0;
}

.student-lesson--color-yellow {
  background-color: #ffffb5;
}

.teacher-book {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: 'Ubuntu Light', sans-serif;
}

.add-btn {
  cursor: pointer;
}

.header_add-btn {
  background-color: #02796B;
  color: white;
  width: 20px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 0px 4px 4px 0px;
}

.header_add-btn:hover {
  background-color: #00796b;
}

.student_name {
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #9fabb7;
  padding: 4px;
  background-color: #f5f5f5;
}

.delete-btn {
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.row_delete-btn {
  color: red;
}

.student_lesson {
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #9fabb7;
  padding: 4px;
  text-align: center;
}

.lesson_input {
  max-width: 24px;
  border: none;
  border-bottom: 1px solid #9fabb7;
  box-shadow: 0px 0px;
}

.lesson_add-btn {
  color: #02796B;
}

.lesson_add-btn:hover {
  color: #1a241b
}

.row_lesson {
  font-size: 12px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #9fabb7;
  min-width: 50px;
}

.student-name_input-container {
  margin-top: 4px;
  display: flex;
}

.input-container_input {
  width: 100px;
  height: 20px;
  padding: 1px 4px;
  font-size: 10px;
}

.input-container_add-btn {
  background-color: #02796B;
  color: white;
  width: 20px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 0px 4px 4px 0px;
}

.input-container_add-btn--disabled{
  background-color: red;
}
