<div class="events-calendar__container">

  <div class="events-calendar__title">
    <h3 class="events-calendar__title-text">Today: {{date | date: "longDate"}}</h3>
  </div>

  <div class="events-calendar__calendar">

    <div class="events-calendar__date">
      <div class="events-calendar__date-text">{{calendarDate | date: "longDate"}}</div>
    </div>

    <div class="events-calendar__daynames">
      <div class="events-calendar__dayname" *ngFor="let dayname of getDayNames(); let i=index" [class.weekend]="isWeekend(i)">
        {{dayname}}
      </div>
    </div>

    <div class="events-calendar__weeks" *ngFor="let week of days">
      <div class="events-calendar__days" *ngFor="let day of week; let i=index" [class.weekend]="isWeekend(i)" [class.another-month]="isAnotherMonth(day)" [class.previous-days]="isPreviousDays(day)">
        <div class="events-calendar__global-events" (click)="onAllEventsList(day)" *ngIf="isAllEventDay(day)">all: {{allCalendarEvents.length}}</div>
        <div class="events-calendar__day">{{day.getDate()}}</div>
        <div class="events-calendar__user-events" (click)="onUserEventsList(day)" *ngIf="isUserEventDay(day)">my: {{userCalendarEvents.length}}</div>
      </div>
    </div>

    <div class="events-calendar__btns">
      <button class="events-calendar__btn events-calendar__btn--left" (click)="prevMonth()">PREV</button>
      <button class="events-calendar__btn events-calendar__btn--right" (click)="nextMonth()">NEXT</button>
    </div>

  </div> 

</div>

<router-outlet></router-outlet>

