<form class="new-event" #formData>

  <app-form-alert [message]="formAlertMessage" *ngIf="isFormAlert" (onFormAlert)="onFormAlert($event)"></app-form-alert>

  <div class="new-event__content">
    <div class="new-event__header">
      <h3 class="new-event__header-text">ADD NEW EVENT</h3>
    </div>

    <div class="new-event__field">
      <h4 class="new-event__field-decription" for="">Info</h4>
      <input class="new-event__field-text" type="text" name="category" placeholder="Category" [(ngModel)]="eventCategory" [class.form-alert]="!isEventCategory()">
      <input class="new-event__field-text" type="text" name="eventName" placeholder="Event Name" [(ngModel)]="eventName" [class.form-alert]="!isEventName()">
      <textarea class="new-event__field-textarea" name="description" placeholder="Description" [(ngModel)]="eventDescription" [class.form-alert]="!isEventDescription()"></textarea>
    </div>

    <div class="new-event__field">
      <h4 class="new-event__field-decription" for="">Location</h4>
      <app-location-picker (onLocationPickerOK)="onLocationPick($event)"></app-location-picker>
    </div>

    <div class="new-event__field">
      <h4 class="new-event__field-decription" for="">Date Start</h4>
      <app-date-picker (onDatePickerChanged)="onSDatePickerChanged($event)" [isCorrectDays]="isCorrectDays"></app-date-picker>
    </div>

    <div class="new-event__field">
      <h4 class="new-event__field-decription" for="">Date End</h4>
      <app-date-picker (onDatePickerChanged)="onEDatePickerChanged($event)" [isCorrectDays]="isCorrectDays"></app-date-picker>
    </div>

    <div class="new-event__field">
      <h4 class="new-event__field-decription" for="">Members</h4>
      <input class="new-event__field-text" type="number" min="0" name="number-of-members" placeholder="Number of members" [(ngModel)]="eventMembersNumber"
        [class.form-alert]="!isEventMembersNumber()">
      <input class="new-event__field-text" type="number" min="0" max="120" name="age-min" placeholder="Min. Age" (keyup)="setMinAge($event)"
        [class.form-alert]="!isCorrectAges()">
      <input class="new-event__field-text" type="number" min="0" max="120" name="age-max" placeholder="Max. Age" (keyup)="setMaxAge($event)"
        [class.form-alert]="!isCorrectAges()">
      <select class="new-event__field-text" name="gender" [(ngModel)]="eventMembersGender" [class.form-alert]="!isGender()">
      <option class="new-event__field-option" value="male">male</option>
      <option class="new-event__field-option" value="female">female</option>
      <option class="new-event__field-option" selected value="both">both</option>
    </select>
    </div>

    <div class="new-event__field">
      <input class="new-event__btn new-event__btn--submit" type="submit" value="Submit" (click)="onSubmitSocialEvent(formData)">
      <input class="new-event__btn new-event__btn--cancel" type="reset" value="Cancel" (click)="onCancelSocialEvent()">
    </div>
  </div>

</form>
