<div class="location-picker__container">

  <input class="location-picker__input" type="text" [value]="position" (click)="onLocationPick()" (keydown)="onKeydownLocationInput($event)" [class.alert]="!isLocation()">

  <div class="location-picker__map" *ngIf="isVisible">

    <sebm-google-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onMapClicked($event)">
      <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="onMarkerDragEnd($event)"></sebm-google-map-marker>
    </sebm-google-map>

    <div class="location-picker__btns">
      <button class="location-picker__btn location-picker__btn--ok" (click)="onLocationOK(latitude, longitude)">ok</button>
      <button class="location-picker__btn location-picker__btn--cancel" (click)="onLocationCancel()">cancel</button>
    </div>

  </div>
  
</div>
